<!DOCTYPE html>
<html>
<head>
    <title>Détails de l'auteur</title>
</head>
<body>
    <h1>{{ author.username }}</h1>
    <img src="{{ author.picture }}" alt="{{ author.username }}" width="150" />
    <p>Email : {{ author.email }}</p>
    <p>Nombre de livres : {{ author.nb_books }}</p>
    <p><a href="{{ path('authors_list') }}">Retour à la liste</a></p>
</body>
</html>
