

{{prod[0]}}
{{prod[1]}}
{{prod[2]}}

{% set hour = 20 %}


{% if hour < 12 %}
<p>Bonjour ! </p>
{% elseif hour < 18 %}
<p>Bon après-midi!</p>
{% else %}
<p>Bonsoir !</p>
{% endif %}

{{"hello la classe 3 a 21"|upper}}

{% set tab = [1, 5, 2, 3] %}
{{ max(tab) }}

<img src="{{asset('/images/1.png')}}" alt="twig">